<!DOCTYPE html>
<html ng-app="galleryApp">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="style/style.css">
</head>
<body ng-controller="galleryCtrl">
<article class="wrapper">
	<h1>WELCOME TO VISEVEN <span>IMAGESTOCK</span></h1>

	<div class="gallery-wrapper">
		<pa-packery pa-options="options" class="packery-wrapper">

			<pa-packery-item class="pa-item img-wrapper {{img.size}}" ng-repeat="img in images">
				<gallery-item custom-image="img" ></gallery-item>
			</pa-packery-item>

			<pa-packery-item class="pa-item" ng-if="showGallery">
				<button-add-images></button-add-images>
			</pa-packery-item>

		</pa-packery>
	</div>


</article>
<script src="js/libs/angular.js"></script>
<script src="js/libs/draggabilly.pkgd.js"></script>
<script src="js/libs/packery.pkgd.js"></script>
<script src="js/libs/packery-angular.js"></script>
<script src="js/controller.js"></script>
<script src="js/galleryItem.directive.js"></script>
<script src="js/imagePopup.directive.js"></script>
<script src="js/buttonAddImages.directive.js"></script>
</body>
</html>