.img-wrapper{
    width: 250px;
    height: 300px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}
.img-wrapper:hover .discr-wrap{
    opacity: 1;
}
.gallery-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 600px;
    border: 1px solid red;
    overflow-x: scroll;
}
.image{
    width: 250px;
}
.discr-wrap{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: white;
    opacity: 0;
    transition: opacity .5s;
}
.like,
.dislike,
.comments{
    position: relative;
}
.score{
    position: absolute;
    top: 0;
    right: -10px;
}
.add-img{
    background-color: #00b3ee;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
ul{
    list-style-type: none;
}
.myinput{
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: block;
}
#myinput{
    display: none;
}
.landscape,
.landscape .image{
    width: 300px;
    height: 150px;
}
.portret,
.portret .image{
    width: 150px;
    height: 300px;
}
.normal,
.normal .image{
    width: 150px;
    height: 150px;
}